@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Libre";
  src: url("fonts/LibreFranklin-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

.libre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
